.Note,
a.Note,
a.Note:hover {
  color: #aba6bf;
}

.Primitive,
a.Primitive,
a.Primitive:hover {
  color: #5e8759;
}

.Enum,
a.Enum,
a.Enum:hover {
  color: #ef835a;
}

.Struct,
a.Struct,
a.Struct:hover {
  color: #6e81a0;
}

.Prop,
a.Prop,
a.Prop:hover {
  color: #2d3142;
}

.Indent {
  display: block;
  padding: 0.2rem 0 0 0.7rem;
}
